<h1>Search Results: </h1>

<ul>
  <% @results.each do |result| %>
	  <li>
		  <%=
		  if result.try(:content).present? 
		  	result.content
		  else
		  	result.firstname
		  end
		  %>
      </li>
  <% end %>
</ul>