<h1>Feed from Codes!</h1>

<ul>
  <% Code.all.each do |code| %>
  	<% coder = Coder.find(code.coder_id) %>
	  <li>
		  <strong>Posted By: <%= coder.firstname + " " +  coder.lastname%></strong><br/>
		  <%= code.language %> | <%= code.content %><br/>
		  <%= code.created_at %>
      </li>

  <% end %>
</ul>