# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 33413d7aedd8f5c57c170a3658b21e1a421b9acb991f8220788216a92e4a30e6f1459181dd9d8335968e27948ac0ab1922f8947b520319a99b35f56e28f2b215

test:
  secret_key_base: 9fc6356f7bfeaeebf25a864e522576b15e4dddeb022327a85e072818c740851abe5dd33c1cd0159fc51c786f83708e22dbd2f093ba5590c6510f6fc172322505

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
